<html>
<head>
  <title>Webpack Tutorial</title>
   <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/vue"></script>
   <!-- <script src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script> -->
</head>
<body>
  
  <div id="app">
    <span v-bind:title="message">
      내 위에 잠시 마우스를 올리면 동적으로 바인딩 된 title을 볼 수 있습니다!
    </span>
    <ul>
      <li v-for='todo in todo'>
        {{todo.text}}
      </li>
    </ul>
    
    <p v-if='seen'>볼수있을까?</p>
  </div>
</body>
<script>

</script>
</html>