<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>홈</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/home.css">
</head>

<body>
    <div id="wrap">
        <!-- header -->
        <header class="header">
            <div class="header_top">
                <h1 class="h_left"><a class="logo" href="#none">bufftoon</a></h1>
                <div class="h_right">
                    <a class="btn_login" href="#none">로그인</a>
                    <a class="btn_search" href="#none">검색</a>
                </div>
            </div>
            <div class="header_btm">
                <ul class="category">
                    <li class="actvie"><a href="#none">홈</a></li>
                    <li><a href="#none">웹툰</a></li>
                    <li><a href="#none">내서재</a></li>
                    <li><a href="#none">게임</a></li>
                    <li><a href="#none">더보기</a></li>
                </ul>
            </div>
        </header>
        <!-- //header -->
        
        <!-- contents -->
        <section class="contents home">
            
            <!-- 오늘의 웹툰  -->
            <article class="today_toon">
                <a class="title">오늘의 웹툰</a>
                <div class="list">
                    <ul>
                        <li>
                            <a href="#none">
                                <span class="toon_name">웹툰 이름</span>
                                <img src="https://dummyimage.com/165/fff/000" alt="웹툰" />
                            </a>
                        </li>
                        <li>
                            <a href="#none">
                                <span class="toon_name">웹툰 이름</span>
                                <img src="https://dummyimage.com/165/fff/000" alt="웹툰" />
                            </a>
                        </li>
                        <li>
                            <a href="#none">
                                <span class="toon_name">웹툰 이름</span>
                                <img src="https://dummyimage.com/165/fff/000" alt="웹툰" />
                            </a>
                        </li>
                    </ul>
                </div>
            </article>
            <!-- //오늘의 웹툰  -->
            <!-- 오늘의 웹툰  -->
            <article class="today_toon">
                    <a class="title">오늘의 웹툰</a>
                    <div class="list">
                        <ul>
                            <li>
                                <a href="#none">
                                    <span class="toon_name">웹툰 이름</span>
                                    <img src="https://dummyimage.com/165/fff/000" alt="웹툰" />
                                </a>
                            </li>
                            <li>
                                <a href="#none">
                                    <span class="toon_name">웹툰 이름</span>
                                    <img src="https://dummyimage.com/165/fff/000" alt="웹툰" />
                                </a>
                            </li>
                            <li>
                                <a href="#none">
                                    <span class="toon_name">웹툰 이름</span>
                                    <img src="https://dummyimage.com/165/fff/000" alt="웹툰" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </article>
                <!-- //오늘의 웹툰  -->
        </section>
        <!-- //contents -->

        <!-- footer -->
        <footer class="footer">
            <div class="app_banner">
                <a href="#none"><img src="https://dummyimage.com/400x120/f0286e/ffffff&text=APP+DOWN" alt="앱 다운로드 배너"></a>
            </div>
            <div class="f_info">
                <a class="facebook" href="#none"><em>페이스북</em>버프툰의 새로운 소식을 받아보세요</a>
                <a class="buff" href="#none"><em>버프툰 소개</em>버프툰 서비스를 소개합니다</a>
            </div>
            <div class="f_link">
                <ul>
                    <li><a href="#none">개인정보처리방침</a></li>
                    <li><a href="#none">문의하기</a></li>
                    <li><a href="#none">연재문의</a></li>
                    <li><a href="#none">플레이엔씨</a></li>
                </ul>
            </div>
            <p class="f_copy">Copyright © NCSOFT Corporation. All Rights Reserved.</p>
        </footer>
        <!-- //footer -->

    </div>

</body>

</html>