.title{
    padding:10px;
    background-color:#fff;
    border-bottom:1px solid #eee;
}
.title:after{
    content:'';
    display:block;
    clear:both;
}
.title > div{cursor:pointer;}
.h_left{float:left;}
.h_right{float:right;}
.title h2{
    padding:0 40px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}