.title{
    padding:10px;
    background-color:#fff;
    border-bottom:1px solid #eee;
}
.title:after{
    content:'';
    display:block;
    clear:both;
}
.title > div{cursor:pointer;}
.h_left{
    float:left;
    width:15px;
}
/* .h_right{
    float:right;
} */
.title h2{
    display:block;
    padding:0 55px 0 40px;
    font-size:14px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}