@charset "utf-8";

/* 오늘의 웹툰 */
.today_toon{
    padding:30px 15px;
    background-color:#f8f8f8;
    overflow:hidden;
}
.title{
    display:block;
    padding-bottom:15px;
    background:url(https://bufftoon.plaync.com/buffweb/m/images/common/btn_more.png) no-repeat 100% 0;
    background-size:6.5px 11.5px;
    font-size:14px;
    line-height:18px;
    color:#333;
}
.today_toon .list{
    width:10000px;
}
.today_toon li{
    float:left;
    margin-right:10px;
    width:165px;
    height:165px;
}
.today_toon li a{
    position:relative;
    display:block;
}
.today_toon li a:after{
    content:'';
    position: absolute;
    left:0;right:0;
    top:0;bottom:0;
    border:1px solid rgba(0,0,0,.2);
}
.today_toon li img{
    width:100%;
    height:100%;
}
.today_toon li .toon_name{
    position:absolute;
    top:30px;
    left:0;right:0;
    text-align:center;
}